<form class="form-inline"  #f="ngForm" (submit)="confirmOrder()">
    <h1>Dokončení objednávky</h1>
    <div class="form-group">
        <label for="name">Jméno:</label>
        <input type="text" class="form-control" [(ngModel)]="user.name" name="first-name" required />
    </div>
    <input type="submit" class="btn btn-primary" [disabled]="!f.valid" value="Potvrdit objednávku" />
</form>