<div class="panel panel-default panel-cart">
    <div class="panel-heading">
        <a routerLink="/kosik">
            <span *ngIf="order.products.length">Košík: {{order.totalPrice}} Kč</span>
        </a>
        <span *ngIf="!order.products.length">Košík je prázdný :(</span>
    </div>
    <div class="panel-body" *ngIf="order.products.length">
        <ul>
            <li *ngFor="let item of order.products">
                <span>{{item.productname}}</span>
                <span class="btn btn-danger btn-xs" (click)="removeFromCart(item._id)" title="odebrat z košíku">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>
            </li>
        </ul>
    </div>
    <div class="panel-footer" *ngIf="order.products.length">
        <a class="btn btn-primary" routerLink="kosik">Přejít do košíku</a>
    </div>
</div>

<div class="panel-cart--mobile">
    <a class="" routerLink="/kosik">
        <div class="items">
            <span class="number">{{order.products.length}}</span>
        </div>
        <i class="glyphicon glyphicon-shopping-cart"></i>
    </a>
</div>