<div class="panel panel-default">
    <div class="panel-heading">
        <span>{{product.productname}}</span>
    </div>
    <div class="panel-body">
        <div class="product-image">
          <span>
            <img src="{{product.imageurl}}" alt="{{product.productname}}" />
          </span>
        </div>
        <p>{{product.description}}</p>
    </div>
    <div class="panel-footer">
        <span [class.cheap]="product.price < 20" >{{product.price}} Kč</span>
        <button class="btn btn-primary"
            (click)="addToCart(product)"
            [disabled]="!canBeAdded">Přidat</button>
    </div>
</div>
