.container {
    background-color: white;
    position: relative;
}

footer.container {
	text-align: center;
	padding: 30px 0;
}

h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

a {
	color: #405c88;
}

.logo {
	background: url("img/logo.png") no-repeat 0 0 transparent;
	height: 42px;
    display: inline-block;
    width: 500px;
}

.panel-default {
	border-radius: 0;
	border: 1px solid #e2e2e2;
	//background: -moz-linear-gradient(top, rgba(210,210,210,0.65) 0%, rgba(170,170,170,0) 50px, rgba(0,0,0,0) 100%);
	//background: -webkit-linear-gradient(top, rgba(210,210,210,0.65) 0%,rgba(170,170,170,0) 50px,rgba(0,0,0,0) 100%);
	//background: linear-gradient(to bottom, rgba(210,210,210,0.65) 0%,rgba(170,170,170,0) 50px,rgba(0,0,0,0) 100%);
}

.panel-default>.panel-heading {
	background: transparent;
	border-bottom: 0;
	height: 64px;
}

.panel-default>.panel-heading {
	font-size: 16px;
	font-weight: 600;
	color: #405c88;
}

.panel-default>.panel-footer {
	background: #f2f5f9;
}

.panel-cart {
	border: 3px solid #405c88;
}

.panel-cart .panel-heading {
	height: auto;
}

.panel-cart .panel-body {
	height: auto;
}

.panel-default>.panel-footer:after {
	 content: " ";
	 display: table;
	 clear: both;
}

.panel-default>.panel-footer span {
	font-size: 18px;
    display: inline-block;
    float: left;
    margin-top: 7px;
}

.panel-default .btn {
	float: right;
}

.btn-primary {
    color: #fff;
    background-color: #405c88;
    border-color: #405c88;
}

.panel-body ul {
	margin: 0;
	padding: 0;
}

.panel-body ul li {
	position: relative;
	padding: 10px 30px 10px 0;
	list-style: none;
}

.panel-body ul li .btn{
	position: absolute;
	top: 8px;
	right: 0;
}

checkout .panel-footer {
	display: none;
}

.panel-cart--mobile {
	display: none;
}

checkout shopping-cart,
checkout checkout-form {
	width: 60%;
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 990px) {

	h1.fixed {
		text-align: left;
	}

	.logo {
		width: 200px;
		background-size: contain;
	}

	.col-cart {
		position: absolute;
		top: 45px;
		right: 0;
	}

	.panel-cart {
		display: none;
	}

	.panel-cart--mobile {
		display: block;
		text-align: right;
		margin-top: 0px;
		padding-left: 45px;
	}

	.panel-cart--mobile .number {
		font-size: 10px;
		line-height: 10px;
		color: white;
	}

	.panel-cart--mobile .items {
		background-color: red;
		height: 22px;
		width: 22px;
		border-radius: 22px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.panel-cart--mobile i {
		font-size: 26px;
		position: absolute;
		top: 10px;
		left: 10px;
		transform: scaleX(-1);
	}

	.panel-cart--mobile .price {

	}
	.col-cart {
		position: fixed;
		top: 15px;
		right: 15px;
		width: 50px;
		padding: 0;
		z-index: 20;
	}

	checkout {
		padding-top: 70px;
		display: block;
	}

	checkout .panel-cart--mobile {
		display: none;
	}

	checkout .panel-cart {
		display: block;
	}
	h1.fixed {
		padding: 20px 0 0px 0;
		margin: 0;
		background-color: white;
		position: fixed;
		top: 0px;
		left: 15px;
		width: 100%;
		z-index: 10;
	}

	.logo {
		width: 200px;
	}

	.row {
		padding-top: 50px;
	}

	checkout shopping-cart,
	checkout checkout-form {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
}

.product-image {
  display: block;
  height: 170px;
  margin: 0 -15px 24px;
  overflow: hidden;
}

.product-image span {
  display: block;
  height: 600px;
  line-height: 600px;
  margin-top: -215px;
  vertical-align: middle;
}

.product-image img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  margin: 0 auto;
}

.panel-body p {
  height: 80px;
}

.panel-cart .panel-heading {
  border-bottom: 1px solid #eeeeee;
}

.panel-cart .panel-body {
  padding: 0;
}

.panel-cart .panel-body ul {
  list-style: none;
}

.panel-cart .panel-body ul li {
  padding: 10px 30px 10px 15px;
  border-bottom: 1px solid #eeeeee;
}

.panel-cart .panel-body ul li:last-child {
  border-bottom: 0;
}

.panel-cart .panel-body .btn {
  right: 15px;
  top: 50%;
  margin-top: -11px;
}

form {
  text-align: center;
}

form h1 {
  margin: 50px 0 40px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

h2 {
  margin: 80px 0 40px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
